<div id="launch">
	
	<!-- Login boxes -->
	<div id="loginForm">
		<div class="palm-group">
			<div class="palm-group-title">Untappd Login</div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div x-mojo-element="TextField" id="username"></div>
						</div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div x-mojo-element="PasswordField" id="password"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div x-mojo-element="Button" id="loginButton"></div>
		<div x-mojo-element="Button" id="signupButton"></div>
	</div>
<!--	<div class="palm-body-text center">
		Tppd! for webOS - powered by Untappd!
		
	</div>
-->
</div>

<div id="scene_scrim" class="palm-scrim" style="display:none;">
	<div id="scene_spinner" x-mojo-element="Spinner"></div><br />
	<span id="scene_scrim_message" class="scene_scrim_message">Saving account...</span>
</div>
