<div class="pane-header-title" id="venue-search-title">venue search</div>
<div id="pane-fade-top" x-mojo-scroll-fade="top"></div>
<div id="venue-search-scroller" x-mojo-element="Scroller">
	<div id="venue-search-spinner" x-mojo-element="Spinner" style="margin-top: 5px; margin-left: 8px;"></div>

	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="venue-search-field" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="venue-search-list" x-mojo-element="List"></div>
	<!-- adjust the height of the last item for scroller-->
	<div style="height: 50px;"></div>

</div>

<div id="pane-fade-bottom" x-mojo-scroll-fade="bottom"></div>
